* {
  box-sizing: border-box;
}
.links {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  align-items: center;
  a {
    text-decoration: none;
    color: grey;
  }

  a.active {
    color: rgb(161, 154, 154);
  }
}
