* {
    box-sizing: border-box;
  }
        ul {
          width: 60vw;
          justify-content: center;
          flex-direction: column;
          list-style: none;
          display: flex;
          margin-top: 3vh;
          a{
            text-decoration: none;
            color: grey;
          }

  }
  