.Books {
  width: 100%;
  header {
    height: 15vh;
    border: 1px solid #ccc;
  }
  main {
    height: 74vh;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    .container {
      width: 50%;
      min-height: 70%;
      border: 1px solid #ccc;
      .book {
        position: relative;
        border: 1px solid #ccc;
      }
      .icons {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  footer {
    height: 10vh;
    border: 1px solid #ccc;
    display: grid;
    place-items: center;
  }
}
