* {
  box-sizing: border-box;
}
.Home {
  header {
    height: 15vh;
  }
  main {
    height: 75vh;
    padding: 30px;
    display: grid;
    place-items: center;
  }
  .container {
    width: 90%;
    min-height: 70%;
    .search {
      input {
        width: 100%;
        text-align: center;
        font-size: 16px;
        height: 3rem;
        border: 2px solid #ccc;
        margin-bottom: 10px;
        background-color: #e6e0e0;
      }
    }
    .book-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 10px 0;

      .book {
        width: 100%;
        height: 3rem;
        position: relative;
        border: 2px solid #ccc;
      }

      .icons {
        position: absolute;
        right: 0;
        top: 50%;
        color: grey;
        transform: translateY(-50%);
      }
    }
    .add {
      margin: 10px 0;
      width: 100%;
      // height: 3rem;
      display: flex;
      justify-content: space-between;
      input {
        width: 90%;
        text-align: center;
        height: 2.5rem;
        font-size: 16px;
        margin: 0;
        background-color: #e6e0e0;
        border: 2px solid #ccc;
      }
      button {
        width: 100%;
        height: 2.5rem;
        font-size: 16px;
        color: grey;
        border: 2px solid #ccc;
        background-color: #e6e0e0;
      }
    }
    .edit {
      width: 100%;
      display: flex;
      input {
        color: grey;
        width: 68%;
        height: 2.5rem;
        border-radius: 4px;
        font-size: 16px;
        text-align: center;
        padding-left: 5px;
        border: 2px solid #ccc;
        background-color: #e6e0e0;
      }
      .update {
        width: 15%;
        height: 2.5rem;
        border-radius: 4px;
        font-size: 1em;
        padding: 0;
        color: grey;
        background-color: #e6e0e0;
        border: 2px solid #ccc;
      }
      .cancel {
        width: 15%;
        height: 2.5rem;
        border-radius: 4px;
        font-size: 1em;
        padding: 0;
        color: grey;
        background-color: #e6e0e0;
        border: 2px solid #ccc;
      }
    }
  }
  footer {
    height: 10vh;
    border-top: 2px solid #ccc;
    display: grid;
    place-items: center; // align vertical & horizintal
    background-color: #e6e0e0;
  }
}
