.person {
  width: 100%;
  display: grid;
  place-items: center;
  .container {
    width: 80%;
    margin-top: 20px;
    .add {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 100%;
      background-color: #e6e0e0;
      input {
        width: 20%;
        height: 2rem;
      }
      button {
        height: 2rem;
      }
    }
    .users {
      width: 100%;
      display: column;
      // align-items: center;
      .user {
        height: 2.5rem;
        display: flex;
        justify-content: space-around;
        border: 2px solid #ccc;
        align-items: center;
        color: rgb(105, 101, 101);
        
        .item {
          width: 18%;
          border-right: 2px solid #ccc;
        }
      }
    }
  }
}
// .users {
//   display: grid;
//   place-items: center;
//   width: 100%;
//   .user {
//     display: flex;
//     justify-content: space-between;
//     place-items: center;
//     width: 80%;
//     height: 3rem;
//     color: rgb(81, 81, 81);
//     border: 2px solid #ccc;
//   }
// }
